<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>You've added a job!</title>
    </head>
    <body>
    <h1>You've added a job!</h1>

    <p>{{ newjob.getTitle }} </p>
    <p>{{ newjob.getCompany }} </p>
    <p>{{ newjob.getDescription }} </p>

    <a href="/resume">See your job list</a>
    </body>
</html>
