
<html>
    <head>
        <meta charset="utf-8">
        <title>Your resume</title>
    </head>
    <body>
     <h1>Your resume</h1>

     {% if jobs is not empty%}
        <ul>
            {% for job in jobs %}
                <li> <strong>{{job.getTitle}}</strong> , <em>{{job.getCompany}}</em>, {{job.getdescription}} </li>
            {% endfor %}
        </ul>
     {% endif %}

     {% if jobs is empty %}
        <h1> GET A JOB, HIPPIE!</h1>
     {% endif %}

     <a href="/">Add more jobs?</a>
     <form action="/delete_jobs" method="post">
         <button type="submit" class="btn-danger">Hide your history from the CIA</button>
     </form>

    </body>
</html>
