<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>YOU HAVE NO JOBS</title>
    </head>
    <body>
        <h1>YOU HAVE NO JOBS<h1>
        <a href="/"> Go sit at home and cry!</a>
    </body>
</html>
